.home{
    display: none;
}
.arte-inicio{
    background: url('../paginas/img/arte-inicio.jpg')center center no-repeat;
    width: 100%;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arte-inicio h1{
    font-size: 40px;
    color: white;
}
.artes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.artes .arte{
    background-size: cover;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin-top: 10px;
}
.informacoes{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.informacoes h1{
    margin-top: 20px;
    font-size: 40px;
    
}
.informacoes p{
    font-size: 34px;
    width: 880px;
    text-align: justify;
    margin-top: 30px;
   
}
.imagem-ceramica{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.imagem-ceramica img{
    width: 600px;
    height: 100%;
    border-radius: 10px;
}
.segundo-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
}
.segundo-texto p{
    font-size: 30px;
    width: 880px;
    text-align: justify;
}
.imagem-com-descricao{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.imagem-com-descricao img{
    width: 400px;
    height: 500px;
    border-radius: 10px;
}
.imagem-com-descricao .info{
    justify-content: flex-start;
    margin-right: 200px;
    margin-top: 10px;
}
.imagem-com-descricao .info p{
    font-size: 20px;
}
.museo-de-arte{
    background: url('../paginas/img/museo.jpg')center center no-repeat;
    width: 100%;
    height: 300px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(228, 86, 86);
    gap: 10px;
}
.museo-de-arte h2{
    background-color: rgba(15, 87, 87, 0.486);
    padding: 10px;
    border-radius: 7px;
    color: white;
}
.museo-de-arte a{
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding: 10px;
    transition: 0.5s;
}
.museo-de-arte a:hover{
    background-color: rgb(59, 53, 53);
    border-radius: 10px;
    color: white;
    transition: 0.5s;
}

@media (max-width: 500px){
    .home{
        display: block;
    }
    .museo-de-arte{
        flex-direction: column;
        
    }
    .artes .arte{
        width: 300px;
        border-radius: 10px;
    }
    .esposicao{
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
    .esposicao .descricao{
        border-bottom: 1px solid black;
    }
    .museo-de-arte{
        flex-direction: column;
    }
    .segundo-texto{
        width: 100%;
        font-size: 20px;
    }
    .segundo-texto p {
        width: 100%;
    }
}