.home{
    display: none;
}
.arte-inicio{
    background: url('../paginas/img/arte-inicio.jpg')center center no-repeat;
    width: 100%;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arte-inicio h1{
    font-size: 50px;
    color: white;
    font-family: "Jacques Francois Shadow", serif;
}
.artes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.artes .arte{
    background-size: cover;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin-top: 10px;
}
.informacoes{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.informacoes h1{
    margin-top: 20px;
    font-size: 50px;
    font-family: "Pattaya", sans-serif;
}
.informacoes span{
    font-family: "Abril Fatface", serif;
}
.informacoes p{
    font-size: 34px;
    width: 880px;
    text-align: justify;
    margin-top: 30px;
   
}
.imagem-ceramica{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.imagem-ceramica img{
    width: 600px;
    height: 100%;
    border-radius: 10px;
}
.segundo-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    flex-direction: column;
}
.segundo-texto h1{
    margin-top: 20px;
    font-size: 50px;
}
.segundo-texto span{
    font-family: "Abril Fatface", serif;
    font-size: 35px;
}
.segundo-texto p{
    font-size: 30px;
    width: 880px;
    text-align: justify;
}
.imagem-com-descricao{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.imagem-com-descricao img{
    width: 400px;
    height: 500px;
    border-radius: 10px;
}
.imagem-com-descricao .info , .vaso-com-rosto .info{
    justify-content: flex-start;
    margin-right: 200px;
    margin-top: 10px;
}
.imagem-com-descricao .info p, .vaso-com-rosto .info {
    font-size: 20px;
}
.museo-de-arte{
    background: url('../paginas/img/museo.jpg')center center no-repeat;
    width: 100%;
    height: 300px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(228, 86, 86);
    gap: 10px;
}
.museo-de-arte h2{
    background-color: rgba(15, 87, 87, 0.486);
    padding: 10px;
    border-radius: 7px;
    color: white;
}
.museo-de-arte a{
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding: 10px;
    transition: 0.5s;
    text-decoration: underline;
}
.museo-de-arte a:hover{
    background-color: rgb(59, 53, 53);
    border-radius: 10px;
    color: white;
    transition: 0.5s;
}

@media (max-width: 500px){
    .home{
        display: block;
    }
    .museo-de-arte{
        flex-direction: column;
        
    }
    .artes .arte{
        width: 300px;
        border-radius: 10px;
    }
    .esposicao{
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
    .esposicao .descricao{
        border-bottom: 1px solid black;
    }
    .museo-de-arte{
        flex-direction: column;
    }
    .segundo-texto{
        width: 100%;
        font-size: 20px;
    }
    .segundo-texto p {
        width: 100%;
    }
}

.texto-sobre-historia{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.texto-sobre-historia p{
    width: 800px;
    text-align: justify;
    font-size: 30px;
}
.vaso-com-rosto{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin-bottom: 50px;
}
.vaso-com-rosto img{
    width: 500px;
    height: 400px;
    border-radius: 10px;
}
.vaso-com-rosto .info{
    margin-right: 300px;
    margin-top: 10px;
}
.vaso-com-rosto .info p{
    font-size: 20px;
}
.texto-sobre-o-vaso-com-rosto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
}
.texto-sobre-o-vaso-com-rosto p{
    width: 700px;
    font-size: 25px;
    text-align: justify;
    padding-bottom: 40px;
}
.texto-sobre-o-vaso-com-rosto p span{
   font-weight: 500;
   font-size: 35px;
   font-family: "Abril Fatface", serif;
}
.jarro-com-copos{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.jarro-com-copos img{
    height: 400px;
    width: 500px;
    border-radius: 10px;
}
.jarro-com-copos .info{
    margin-right: 300px;
    margin-top: 10px;
}
.jarro-com-copos .info p{
    font-size: 20px;
}
.peixe{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.peixe img{
    height: 400px;
    width: 500px;
    border-radius: 10px;
}
.peixe .info{
    margin-right: 300px;
    margin-top: 10px;
}
.peixe .info p{
    font-size: 20px;
}
.tartaruga{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.tartaruga img{
    height: 400px;
    width: 500px;
    border-radius: 10px;
}
.tartaruga .info{
    margin-right: 300px;
    margin-top: 10px;
}
.tartaruga .info p{
    font-size: 20px;
}
@media (max-width:500px){
    .informacoes{
        text-align: center;
    }
    .informacoes h1{
        font-size: 30px;
    }
    .informacoes p{
        font-size: 20px;
        width: 300px;
    }
    .imagem-ceramica img{
        width: 100%;
        border-radius: 0px;
    }
    .segundo-texto{
        padding: 10px;
        height: 400px;
    }
    .segundo-texto p{
        font-size: 20px;
        width: 300px;
        margin-bottom: 20px;
    }
    .imagem-com-descricao,  .vaso-com-rosto , .jarro-com-copos, .peixe, .tartaruga{
        text-align: center;
        align-items: center;
    
    }
    .vaso-com-rosto .info , .jarro-com-copos .info, .peixe .info , .tartaruga .info{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 70%;
    }
    .peixe img,.tartaruga img{
        width: 100%;
    }
    .imagem-com-descricao img{
        width: 100%;
        height: 380px;
        border-radius: 0px;
    }
    
    .texto-sobre-historia{
        width: 100%;
    }
    .texto-sobre-historia p{
        width: 300px;
        font-size: 20px;
    }
    .imagem-com-descricao .info {
        width: 100%;
        text-align: center;
        margin-left: 50%;
    }
    .vaso-com-rosto img {
        width: 100%;
        border-radius: 0px;
    }
    .texto-sobre-o-vaso-com-rosto{
        height: 550px;
    }
    .texto-sobre-o-vaso-com-rosto p{
        width: 300px;
        font-size: 20px;
    }
}