*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
a , li{
 list-style: none;
 text-decoration: none;
 color: black;
}
.home{
    display: none;
}
@media (max-width:500px){
    .home{
        display: block;
    }
}